body{
    background-color:rgb(101, 60, 139)
}
h1{
    color:rgb(244, 217, 255)
}
p{
    color:rgb(244, 217, 255)
}

#content {
  margin-left: 400px;
  margin-right: 400px;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
